.main-container {
    display: none;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0;
}
body{
    font-family: sans-serif;
    background-color: aqua;
}

div.Username-form { 
    text-align: center;
    margin-top: 320px;
}


